.container-card {
    padding: 80px;
}

.section-title {
    font-weight: bold;
    font-style: italic;
}

.red-background {
    background-color: #ff0000;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

/* Estilo para que el fondo rojo ocupe la mitad del ancho en pantallas pequeñas */
@media (max-width: 767px) {
    .red-background {
        width: 50%;
        /* Ocupa la mitad del ancho en pantallas pequeñas */
        /* margin: 0 auto; */
        /* Centra el fondo rojo horizontalmente */
    }
}

.image-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.image-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title-card {
    font-weight: bold;
}

.paragraph-card {
    font-size: 1.2rem;
    font-weight: 600;
    font-style: italic;
}